<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
            integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css"
            rel="stylesheet"
    />
    <title>Vehicles Locator</title>
</head>
<body>
<div class="container my-3">
    <h1 class="display-4 text-center">
        <i class="fas fa-map-marked mr-4"></i>Vehicles  Locator
    </h1>
    <div>
        <form action="/getlocD" method="post">
    <input type="date" id="start" name="start" class="form-control" style="width: 30%;margin-bottom:10px ;">
    <input type="date" id="end" name="end" class="form-control" style="width: 30%;margin-bottom:10px ;">

    <button type="submit" class="btn btn-success mb-4">Get Location</button>
</form>
</div>
    <div
            id="map"
            style="width: 100%; height: 500px;border-radius: 5px;"
    ></div>
</div>

<script>
    // post date 
    // canceld 
    function postDate(){
    console.log(document.getElementById('start').value + "thisss is axios")
var start
   axios.post('/getlocD', {
  start: document.getElementById('start').value,
  end:document.getElementById('end').value
  
        })
.catch(function (error) {
 console.log(error);
      });

  }
</script>
<script>
    mapboxgl.accessToken =
        'pk.eyJ1IjoiaHVzc2VpbmRoYWZlciIsImEiOiJja3M3aTV6Mmowa3Q2MnZwc3Eyemllbmx6In0.zACREUIP5z-IcyB2GzwXxw';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 9,
        center: [44.235525987433775,32.72721262243513 ]
    });

    // Fetch stores from API
    async function getStores() {
        const res = await fetch('http://localhost:3000/getloc');
        const data = await res.json();
        console.log(data+"wwrrrryyyy")

        const stores = data.map(store => {
            return {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [
                        store.loc[0],
                        store.loc[1]
                    ]
                },
                properties: {
                    storeId: store.id,
                    icon: 'car'
                }
            };
        });

        loadMap(stores);
    }

    // Load map with stores
    function loadMap(stores) {
        map.on('load', function() {
            map.addLayer({
                id: 'points',
                type: 'symbol',
                source: {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: stores
                    }
                },
                layout: {
                    'icon-image': '{icon}-15',
                    'icon-size': 1.5,
                    'text-field': '{storeId}',
                    'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                    'text-offset': [0, 0.9],
                    'text-anchor': 'top'
                }
            });
        });
    }

    getStores();
</script>
</body>
</html>